<form action="/signin" method="post">
    <input type="text" name="rut" placeholder="Insert Rut">
    <input type="password" name="password" placeholder="Insert Password">
    <input type="password" name="newpassword" placeholder="Insert New Password">
    <input type="password" name="repeatpassword" placeholder="Repeat New Password">

    <button type="submit">
        Activar Cuenta
    </button>

</form>